body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .recipe-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .recipe-overview img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  .content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .price-container {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .item-price {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }
  
  .item-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .details {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }

  
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .posted-at {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .description h3 {
    margin: 10px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .chat-button,
  .offer-button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
  }
  
  .offer-button {
    background-color: #333;
    color: white;
  }

  .location{
    color: #333;
  }