.example-card {
  width: 300px;
  max-height: 500px;
  margin: 20px auto;
}

.image-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: 300px;
}

.price-container {
  text-align: left;
  margin-bottom: 2px;
}

.item-price {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  color: #333;
}

.item-name {
  font-weight: bold;
  flex-grow: 1;
  margin: 0;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-icon {
  font-size: 20px;
  margin-right: 5px;
}

.item-location {
  font-size: 16px;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.delete-button,
.edit-button {
  color: #333;
}

.delete-button {
  margin-right: 10px;
}

.material-symbols-outlined {
  font-size: 20px;
}