<mat-card class="example-card" appearance="outlined">
  <div class="image-container">
    <img mat-card-image src="{{ item.banner_img }}" alt="Item Poster" />
  </div>
  <mat-card-content>
    <div class="form-content">
      <div class="price-container">
        <h1 class="item-price">{{ item.price | currency : "INR" }}</h1>
      </div>
      <div class="content-container">
        <div class="name-container">
          <h3 class="item-name">{{ item.name }}</h3>
          <button mat-icon-button (click)="openItemOverview()">
            <mat-icon
              ><span class="material-symbols-outlined"> info</span></mat-icon
            >
          </button>
        </div>
        <div class="location-container">
          <mat-icon class="location-icon"
            ><span class="material-symbols-outlined">
              location_on</span
            ></mat-icon
          >
          <p class="item-location">{{ item.location }}</p>
        </div>
        <ng-container *ngIf="canEditOrDelete(); else noEditDelete">
        <div class="button-container" *ngIf="isLoggedIn">
          <div>
            <button
              mat-raised-button
              color="accent"
              (click)="deleteItem()"
              class="delete-button"
              style="color: #333"
            >
              <mat-icon
                ><span class="material-symbols-outlined"> delete</span></mat-icon
              >
            </button>
          </div>
          <div>
            <button
              mat-raised-button
              color="accent"
              [routerLink]="['/edit', item.id]"
              class="edit-button"
              style="color: #333"
            >
              <mat-icon
                ><span class="material-symbols-outlined"> edit</span></mat-icon
              >
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #noEditDelete>
        <!-- Optionally, you can add a message or leave it empty -->
      </ng-template>
      </div>
   
    </div>
  </mat-card-content>
</mat-card>
