<h3 class="login-title">🔑 Login to Your Account</h3>
<p class="login-description">
  Please enter your credentials to access your account. 🛡️
</p>

<form [formGroup]="loginForm" (ngSubmit)="login()" class="add-movie-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Nikhil" formControlName="username" />

    @if(username?.touched && username?.hasError('required') ){
    <mat-error>username is <strong>required</strong></mat-error>
    } @if(username?.touched && username?.hasError('minlength') ){
    <mat-error>Password should be atleast 7 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="123467abc"
      formControlName="password"
    />
  </mat-form-field>

  <button mat-raised-button type="submit" class="submit-button">Login</button>
  <div class="signup-message">
    New user? <a routerLink="/user/signup">Signup here</a>
  </div>
</form>
