<nav class="navbar">
  <div class="nav-content">
    <div class="og-text">OG</div>
    <ul class="nav-list">
      <li class="nav-item"><a href="">Home</a></li>
      <li class="nav-item">
        <a routerLink="/items">Items</a>
      </li>
      <div class="button-container" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a routerLink="/add">Add Item</a>
        </li>
      </div>
    </ul>
    <div class="auth-buttons">
      @if(username){
      <span class="username">Welcome, {{ username }}</span>
      <a (click)="logout()" class="auth-button">Logout</a>
      } @else {
      <a routerLink="/user/signup" class="auth-button">Signup</a>
      <a routerLink="/user/login" class="auth-button">Login</a>
      }
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
