<nav class="navbar">
  <div class="nav-content">
    <div class="og-text">OG</div>
    <ul class="nav-list">
      <li class="nav-item"><a href="">Home</a></li>
      <li class="nav-item">
        <a routerLink="/items">Items</a>
      </li>
    </ul>
    <div class="auth-buttons">
      @if(loginService.loginSuccess || checkToken()){
      <!-- <span>Welcome {{ username }}</span> -->
      <a (click)="logout()" class="auth-button">Logout</a>
      } @else {
      <a routerLink="/user/signup" class="auth-button">Signup</a>
      <a routerLink="/user/login" class="auth-button">Login</a>
      }
    </div>
    <div class="button-container">
      @if (loginService.loginSuccess || checkToken()) {
      <a class="sellItem" routerLink="/add">Sell Item</a>
      }
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
