.button {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 15px;
  margin-left: 15px;
  border-radius: 25px;
  gap: 5px;
  background-color: white;
  // outline: 3px #333 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: black;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: whitesmoke;
}

.button:hover svg path {
  fill: whitesmoke;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.og-text {
  font-size: 24px;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-button {
  color: #333;
  text-decoration: none;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.sellItem {
  border: 2px solid white; 
  border-radius: 25px; 
  padding: 10px 20px; 
  color: white; 
  text-decoration: none;
  margin-left: 20px;
  transition: background-color 0.3s, color 0.3s; 
}

.sellItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white; 
}

.auth-button:hover {
  background-color: #333;
  color: white;
}

.username {
  color: #fff;
  margin-right: 10px;
}

.content {
  margin-top: 80px;
  padding: 20px;
}