<h3 class="signup-title">🎉 Create Your Account</h3>
<p class="signup-description">Join us today and start your journey! 🚀</p>

<form [formGroup]="signUpForm" (ngSubmit)="signup()" class="add-movie-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Nikhil" formControlName="username" />
    @if(username?.touched && username?.hasError('required') ){
    <mat-error>Username is <strong>required</strong></mat-error>
    } @if(username?.touched && username?.hasError('minlength') ){
    <mat-error>Username should be at least 3 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="123467abc"
      formControlName="password"
    />
  </mat-form-field>

  <button mat-raised-button type="submit" class="submit-button">Signup</button>
  <div class="login-message">
    Already an existing user? <a routerLink="/user/login">Login here</a>
  </div>
  <div>
    <h4 class="signup-message">{{ signupService.username }}</h4>
  </div>
</form>
