<body>
  <div class="home-page">
    <div class="title">
      <p>
        Are you sitting on a pile of unused apps? 📱 Turn them into cash with
        our easy-to-use second-hand app selling platform. 💸
      </p>
    </div>
    <div class="container">
      <!-- <button class="button" routerLink="/items">Explore Items</button> -->
      <div>
        <button class="button" routerLink="/signup" style="margin-right: 20px">
          SignUp
        </button>
        <button class="button" routerLink="/items">Continue as Guest</button>
      </div>
    </div>
  </div>
</body>
