<div class="home-page">
  <div class="title">
    <h2>Welcome to Oldie Goldie</h2>
    <p>
      Are you sitting on a pile of unused belongings? 📱 <br />Turn them into
      cash with our easy-to-use second-hand selling platform. 💸
    </p>
  </div>
  <div class="image-container">
    <img
      src="https://slm-assets.secondlife.com/assets/11156319/view_large/Snapshot_001.jpg?1424907933"
      alt="Selling second hand things"
      class="app-image"
    />
    <h3 class="image-text">Make money from your unused belongings today!</h3>
  </div>
  <div class="container">
    <div>
      <button
        class="button"
        routerLink="/user/signup"
        style="margin-right: 20px"
      >
        SignUp
      </button>
      <button class="button" routerLink="/items">
        {{ name ? "Explore" : "Continue as Guest" }}
      </button>
    </div>
  </div>
</div>
