.recipe-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #803232;
  margin-right: 5px;
}

.emoji {
  font-size: 24px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 2rem;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }


  /* From Uiverse.io by exyreams */ 
.spinner {
  position: relative;
  width: 80px;
 /* Adjust the width accordingly */
  height: 16px;
 /* Keep the height the same */
}

.spinner div {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #004dff;
  border-radius: 50%;
  animation: spinner-4t3wzl 2s infinite linear;
}

.spinner div:nth-child(1) {
  left: 0;
  animation-delay: 0.15s;
  background-color: rgba(0, 77, 255, 0.9);
}

.spinner div:nth-child(2) {
  left: 25%;
  animation-delay: 0.3s;
  background-color: rgba(0, 77, 255, 0.8);
}

.spinner div:nth-child(3) {
  left: 50%;
  animation-delay: 0.45s;
  background-color: rgba(0, 77, 255, 0.7);
}

.spinner div:nth-child(4) {
  left: 75%;
  animation-delay: 0.6s;
  background-color: rgba(0, 77, 255, 0.6);
}

.spinner div:nth-child(5) {
  left: 100%;
  animation-delay: 0.75s;
  background-color: rgba(0, 77, 255, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateX(-100%);
  }

  100% {
    transform: rotate(360deg) translateX(-100%);
  }
}