<body>
  <div>
    <h1>{{ name ? "Welcome, " + name : "Login for better experience" }}</h1>
  </div>
  <div class="form">
    <form class="example-full-width">
      <mat-form-field [formGroup]="searchForm" class="example-full-width">
        <mat-label>Search Item...</mat-label>
        <input
          matInput
          type="search"
          placeholder="search..."
          formControlName="search"
        />
      </mat-form-field>
    </form>
  </div>

  @if(isLoading){
  <h1>Loading...</h1>
  }
  <div class="recipe-list-container">
    @for (item of filteredItems; track $index) {
    <app-itemcard
      [item]="item"
      (deleteItemEvent)="deleteItemP(item)"
      [id]="item.id"
    />
    }
  </div>
</body>
